<div class="container">

    <mat-toolbar>
        <mat-toolbar-row>
            <span class="logo">
                <img class="image" src="../assets/ptrm/fflogo.jpg">
                <span class="name">Farmers Friend</span>
            </span>
            <span>
                <div [routerLink]="['/']" class="logout zfcui-prometo-medium">
                    <img class="image" src="../assets/ptrm/menu.svg">
                </div>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>

    <p class="alert">ALERTS : 2</p>
    <div class="box-container">
        <div class="box">Information & Data</div>
        <div class="box">Field Reports</div>
        <div class="box">Schedule</div>
        <div class="box">Upload Image</div>
    </div>
    <div class="footer">
        <div class="complaints">Complaints and queries</div>
        <div class="support">Customer Care</div>
    </div>
</div>