.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar {
  background-color: white;
}

.full-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-card {
  max-width: 600px;
  max-height: 600px;
  padding: 40px 0;
  width: 400px;
  line-height: 20px;
  background-color: white;
  box-shadow: 0px 2px 3px #00000029;
  border-radius: 8px;
  opacity: 1;
}

.card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-weight: 600;
  font-size: 32px;
  color: green
}

.example-form {
  min-width: 150px;
  max-width: 600px;
}

.example-full-width {
  width: 90%;
  margin-top: 1.5rem;
}

.login {
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  font-size: 20px;
  margin: 20px;
}

mat-label {
  font-size: 22px;
}

.mat-raised-button {
  background: #114366;
  border-radius: 50px;
  opacity: 1;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 18px;
  width: 172px;
  height: 39px;
  margin-top: 20px;
}

.options {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  margin-right: 20px;
}

.image {
  height: 50px;
}