<div class="full-page">
  <p class="page-title zfcui-prometo-medium ">User Management</p>
  <div class="mat-elevation-z8 zfcui-prometo-medium">
    <div class="btn-container">

      <a>
        <button mat-raised-button (click)="openAddDialog()" class="primary-button">ADD USER</button>
      </a>
      <a [routerLink]="['/homepage/role-config/']">
        <button mat-raised-button class="primary-button">ROLE CONFIG</button>
      </a>
    </div>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> USER NAME</th>
        <td mat-cell *matCellDef="let element"> {{element.username}}</td>
      </ng-container>

      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef>DESIGNATION</th>
        <td mat-cell *matCellDef="let element">{{element.role}}</td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="last-colm">
            <div class="hover" (click)="openEditDialog(element)"> <img src="../../../assets/ptrm/edit.svg"> </div>
            <div class="hover" (click)="deleteUser(element)"> <img src="../../../assets/ptrm/delete.svg"></div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>