<p class="zfcui-prometo-medium title">Add User</p>
<div class="form-conatiner">
    <div class="form-left-conatiner">
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput required [(ngModel)]="data.username" name="new-user">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select required [(ngModel)]="data.role" name="designation">
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option value="Group Leader">Group Leader</mat-option>
                    <mat-option value="Project Manager">Project Manager</mat-option>
                    <mat-option value="Technical Project Manager">Technical Project Manager</mat-option>
                    <mat-option value="Team Leader">Team Leader</mat-option>
                    <mat-option value="Test Engineer">Test Engineer</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="error" *ngIf="err">All fields are required</div>
    </div>
    <div *ngIf="image" class="image-conatiner">
        <img [src]="image" alt="Please Wait until loaded">
    </div>
    <div *ngIf="!image" class="image-conatiner">
        <img src="../../../assets/ptrm/user.jpg">
    </div>
</div>
<div class="input-holder">
    <div class="edit-options">
        <input id="fileInput" type="file" class="zfcui-prometo-medium custom-file-input"
            (change)="createFormData($event)">
        <button *ngIf="image" mat-button class="zfcui-prometo-medium  delete" (click)="deleteImage()">Delete</button>
    </div>
</div>
<button mat-raised-button class="zfcui-prometo-medium secondary" (click)='save()' cdkFocusInitial>Submit</button>
<button mat-raised-button class="zfcui-prometo-medium secondary" [mat-dialog-close]="undefined">Cancel</button>