a {
    text-decoration: none;
}

.full-page {
    background: transparent linear-gradient(180deg, #001024 0%, #004D7A 55%, #0070B4 90%, #0070B4 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 70px;
}

.page-title {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0px 20px 0px 100px;
    padding-top: 20px;
}

table {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
    text-align: center !important;
    width: 95%;
    margin: auto;
}

.mat-elevation-z8 {
    width: 85%;
    padding: 25px 10px 35px 10px;
    margin: 25px auto 0 auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.mat-header-cell {
    text-align: center;
  
}

.last-colm {
    display: flex;
    justify-content: center;
}

.delete {
    margin-left: 20px;
}

.plc {
    width: 20.5%;
}

td {
    font:14px Tahoma;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

th {
    font:14px tahoma;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    background: #DEDEDEBA 0% 0% no-repeat padding-box;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0px !important;
}

.primary-button {
    margin: 0px 25px 10px 0px
}

.page {
    background-color: white;
}

.example-full-width {
    width: 45%;
}

.title {
    font-size: 18px;
    margin-left: 20px;
}

.secondary {
    background: #00ABE7 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
    color: white;
    width: 130px;
    height: 40px;
    font-size: 18px;
    margin-left: 20px;
}

.layer {
    display: flex;
    justify-content: space-evenly;
}

.phone {
    margin-left: 20px;
}

::ng-deep .mat-dialog-container {
    background-color: #F3F6F8;
}

::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(8, 8, 8, 0.87);
    opacity: 3;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: black 1em !important;
    background-color: white;
}

::ng-deep .mat-form-field-underline {
    display: none !important;
}